# Install packages

In [1]:
# !pip install -q openai

# Import packages

In [292]:
from openai import OpenAI
import openai
import os

# Point to API Key

In [ ]:
api_key='placeholder'

client = OpenAI(
    # This is the default and can be omitted
    api_key='placeholder',
)

# tester code

## Run tester code

In [8]:
stream = client.chat.completions.create(
    model="gpt-3.5-turbo-0125",
    messages=[{"role": "user", "content": "Say this is a test"}],
    stream=True,
)
for chunk in stream:
    if chunk.choices[0].delta.content is not None:
        print(chunk.choices[0].delta.content, end="")

This is a test

## Test completetio

In [11]:

response = client.chat.completions.create(
    model="gpt-3.5-turbo-0125",
    # response_format={ "type": "json_object" },
    messages=[
        {"role": "system", "content": "You are a helpful assistant."},
        {"role": "user", "content": "Who won the world series in 2020?"},
        {"role": "assistant", "content": "The Los Angeles Dodgers won the World Series in 2020."},
        {"role": "user", "content": "Where was it played?"}
  ]
)
print(response.choices[0].message.content)

The World Series in 2020 was played at Globe Life Field in Arlington, Texas.

In [12]:
response = client.chat.completions.create(
  model="gpt-3.5-turbo-0125",
  response_format={ "type": "json_object" },
  messages=[
    {"role": "system", "content": "You are a helpful assistant designed to output JSON."},
    {"role": "user", "content": "Who won the world series in 2020?"}
  ]
)
print(response.choices[0].message.content)

{
    "winner": "Los Angeles Dodgers",
    "year": 2020
}

# Prompt Engineering Base Code

In [87]:
from openai import OpenAI
client = OpenAI(api_key = api_key)

response = client.chat.completions.create(
    model="gpt-3.5-turbo-0125",
    response_format={ "type": "json_object" },
    messages=[
    {
      "role": "system",
      "content": "You will extract information from a news article in json format."
    },
    {
      "role": "assistant",
      "content": "'New Delhi: Two students were injured after a speeding car rammed into the footpath they were walking on in central Delhi’s Ranjit Nagar. The errant driver has been booked, police said. The accident took place in the early hours of Tuesday and the students, in their early 20s, were discharged after treatment, a police officer said. “The driver who received some injuries was also rushed to the hospital. A case under sections 279 (rash driving), 337 (hurt due to negligence) and 338 (Punishment for grievous hurt) has been registered,” said the officer. The driver has been identified and the offending vehicle has been seized, police said. The purported CCTV footage of the incident started making rounds on social media on Thursday. In the video, a man and a woman can be seen walking on the footpath when a speeding car banged into the duo walking on the footpath. Explore Your Financial Landscape with Personalized Credit Insights.'"
    },
    {
      "role": "user",
      "content": "output:{\"fatalities\": 0,\"injured\":2,\"victim_gender\":[\"Male\",\"Female\"],\"vehicles\":[\"car\"],\"child_involved\":0,\"names_ages\":[(\"unknown_name\",20),(\"unknown_name\",20)]}/"
    },
    {
      "role": "assistant",
      "content": "'AGRA: At least 15 people including 8 children were killed in the Kasganj district of Uttar Pradesh after a tractor-trolley carrying around 40 villagers fell into a pond. The villagers, comprising mostly women and children, were on their way to the river Ganga for a holy bath on the auspicious occasion of Magh Purnima on Saturday. According to IG Aligarh Shalabh Mathur, the driver of the tractor lost control while attempting to avoid a collision with a car on the road. The tractor-trolley, carrying the villagers, overturned into the pond, which was filled with mud. Expressing profound sorrow over the incident, chief minister Yogi Adityanath extended his condolences to the families of the victims. The chief minister directed officials in Kasganj district to ensure the prompt and adequate treatment of those injured in the accident. He also ordered a swift response in terms of rescue operations and urged officials to mobilise resources for immediate assistance at the site which comes under the Patiali police station in Kasganj district. The victims are from the Etah district. Explore Your Financial Landscape with Personalized Credit Insights.'"
    },
    {
      "role": "user",
      "content": "output:{\"fatalities\": 15,\"injured\":0,\"victim_gender\":[\"Female\",\"Male\"],\"vehicles\":[\"tractor-trolley\",\"car\"],\"child_involved\":8,\"names_ages\":[]}/"
    },
    {
      "role": "assistant",
      "content": "\"JAIPUR: Four persons died while one was injured in an accident between a car and a private bus in Rajasthan's Dungarpur district, police said on Saturday. The incident occurred late Friday night on NH 48 in Bichhiwada when the car, traveling in the wrong direction, collided with a private bus heading towards Dungarpur. The impact of the collision was so severe that it left the car's front end completely demolished, police said. The four young individuals who died have been identified as Satish Bhai (25), Ankit Ninama (25), Ravi (23), and Kaushik (21). All of them hailed from Shamlaji in Gujarat, according to the police. The bodies of the deceased have been placed in the district hospital's mortuary, and their family members have been notified of the accident. Once their relatives arrive, post-mortem examinations will be conducted, police said. (With inputs from PTI) Explore Your Financial Landscape with Personalized Credit Insights.\""
    },
    {
      "role": "user",
      "content": "output:{\"fatalities\": 4,\"injured\":1,\"victim_gender\":[\"Female\",\"Male\"],\"vehicles\":[\"tractor-trolley\",\"car\"],\"child_involved\":0,\"names_ages\":[(\"Satish Bhai\",25),(\"Ankit Ninama\",25),(\"Ravi\",23),(\"Kaushik\",21)]}/"
    },
    {
      "role": "assistant",
      "content": "\"KHARGONE: Three policemen, including two sub-inspectors died, and two critically injured when their car rammed into a parked truck in MP 's Khragone district early Saturday morning. The victims were returning to Sanawad town, 70km from the district headquarters, after completing their duties at the annual fair in Shivdola, another 70km away, said police. At 5.30am near Badud village, just 4km short of destination, their hatchback slammed into the rear of a truck parked on the roadside, Sanawad police station in charge Nirmal Kumar Shrivas said. SIs Vimal Tiwari and Ramesh Chandra Bhaskare and constable Manoj Kumawat died on the spot, he said. Constables Raghuveer Rawat and civic defence personnel Komal Dangode were severely injured. They have been shifted to Indore, 70km away. Tiwari was a resident of Indore, Kumrawat from Simrol, and Bhaskere, who owned the car, was from Burhanpur. Rescuers had hard time extricating victims from the wreckage The 108 ambulance drivers, Yuvraj Dhodle and Ritesh Mandloi, who took the victims to hospital said that the car was mangled in the collision and they had a hard time extricating them from the wreckage. The bodies have been handed over to their families after autopsy. Nimar Range DIG Chandrashekhar Solanki told TOI that he has ordered an investigation and asked for a report. CCTV footage shows the car hitting the rear of a truck parked near a petrol pump, he said, adding that why the accident happened is being investigated. The families of the deceased police personnel are being provided assistance as per the rules, he said. Explore Your Financial Landscape with Personalized Credit Insights.\""
    }
  ],
  temperature=1,
  max_tokens=256,
  top_p=1,
  frequency_penalty=0,
  presence_penalty=0
)

In [88]:
print(response.choices[0].message.content)

{
    "fatalities": 3,
    "injured": 2,
    "victim_gender": ["Male"],
    "vehicles": ["car", "truck"],
    "child_involved": 0,
    "names_ages": [
        {"name": "Vimal Tiwari", "age": "Unknown"},
        {"name": "Ramesh Chandra Bhaskare", "age": "Unknown"},
        {"name": "Manoj Kumawat", "age": "Unknown"}
    ]
}

# Prompt Engineering : Prompt Trials and results

### Module: Message

In [294]:
class MessageInitializer:
    def __init__(self,option):
        if option == 1:
                self.message_history = [
            {
              "role": "system",
              "content": "You will extract information from a news article and give me the output in json format"
            },
            {
              "role": "user",
              "content": "'New Delhi: Two students were injured after a speeding car rammed into the footpath they were walking on in central Delhi’s Ranjit Nagar. The errant driver has been booked, police said. The accident took place in the early hours of Tuesday and the students, in their early 20s, were discharged after treatment, a police officer said. “The driver who received some injuries was also rushed to the hospital. A case under sections 279 (rash driving), 337 (hurt due to negligence) and 338 (Punishment for grievous hurt) has been registered,” said the officer. The driver has been identified and the offending vehicle has been seized, police said. The purported CCTV footage of the incident started making rounds on social media on Thursday. In the video, a man and a woman can be seen walking on the footpath when a speeding car banged into the duo walking on the footpath. Explore Your Financial Landscape with Personalized Credit Insights.'"
            },
            {
              "role": "assistant",
              "content": "output:{\"fatalities\": 0,\"injured\":2,\"victim_gender\":[\"Male\",\"Female\"],\"vehicles\":[\"car\"],\"child_involved\":0,\"names_ages\":[(\"unknown_name\",20),(\"unknown_name\",20)]}/"
            }
          ]
        if option == 2:
                self.message_history = [
            {
              "role": "system",
              "content": "You will extract information from a news article and give me the output in json format"
            },
            {
              "role": "user",
              "content": "\"KHARGONE: Three policemen, including two sub-inspectors died, and two critically injured when their car rammed into a parked truck in MP 's Khragone district early Saturday morning. The victims were returning to Sanawad town, 70km from the district headquarters, after completing their duties at the annual fair in Shivdola, another 70km away, said police. At 5.30am near Badud village, just 4km short of destination, their hatchback slammed into the rear of a truck parked on the roadside, Sanawad police station in charge Nirmal Kumar Shrivas said. SIs Vimal Tiwari and Ramesh Chandra Bhaskare and constable Manoj Kumawat died on the spot, he said. Constables Raghuveer Rawat and civic defence personnel Komal Dangode were severely injured. They have been shifted to Indore, 70km away. Tiwari was a resident of Indore, Kumrawat from Simrol, and Bhaskere, who owned the car, was from Burhanpur. Rescuers had hard time extricating victims from the wreckage The 108 ambulance drivers, Yuvraj Dhodle and Ritesh Mandloi, who took the victims to hospital said that the car was mangled in the collision and they had a hard time extricating them from the wreckage. The bodies have been handed over to their families after autopsy. Nimar Range DIG Chandrashekhar Solanki told TOI that he has ordered an investigation and asked for a report. CCTV footage shows the car hitting the rear of a truck parked near a petrol pump, he said, adding that why the accident happened is being investigated. The families of the deceased police personnel are being provided assistance as per the rules, he said. Explore Your Financial Landscape with Personalized Credit Insights.\""
            },
            {
              "role": "assistant",
              "content": "output:{\"fatalities\": 3,\"injured\":2,\"victim_gender\":[\"male\"],\"time_of_day\":\"early morning\",\"reason\":\"NA\",\"vehicles\":[\"tractor-trolley\",\"car\"],\"child_involved\":0,\"names_ages\":[(\"Raghuveer Rawat\",\"na\"),(\"Komal Dangode\",\"na\"),(\"Vimal Tiwari\",\"na\"),(\"Ramesh Chandra Bhaskare\",\"na\"),(\"Manoj Kumawat\",\"na\")]}/"
            },
            {
              "role": "user",
              "content": "'NEW DELHI: Four people were injured after being struck by a car, allegedly driven by the wife of a Delhi Police inspector outside AIIMS, officials said on Wednesday. Security guards at AIIMS promptly alerted the authorities regarding the accident near gate number 6A and 6B. Upon arriving at the scene, the police found a Ford Ecosport car, driven by Vipin Singh, who is identified as the wife of an inspector currently serving in the Delhi Police. Later, police visited the AIIMS Trauma Centre where injured persons — Gaurav (22), his wife Ritika (21), residents of Trilokpuri, Nishant (27), a resident of Lal Kuan, and Ranveer (57), a resident of Noida — were being treated, a senior police officer said. The medico-legal cases of the injured persons were collected and everyone was found fit for the statement. Later, a PCR call was also made in this regard, police said. However, none of the victims gave any statement. Further, on getting no statement from the injured persons, a case has been registered in this regard under sections 279 (rash driving or riding on a public way) and 337 (causing hurt by act endangering life or personal safety of others) of the IPC on the DD entry of the information, police added. (With inputs from PTI) Explore Your Financial Landscape with Personalized Credit Insights.'"
            },
            {
              "role": "assistant",
              "content": "output:{\"fatalities\": 0,\"injured\":4,\"time_of_day\":\"NA\",\"reason\":\"NA\",\"victim_gender\":[\"Male\",\"Female\"],\"vehicles\":[\"car\"],\"child_involved\":0,\"names_ages\":[(\"Gaurav\",22),(\"Ritika\",21),(\"Nishant\",27),(\"Ranveer\",57)]}/"
            },
            {
              "role": "user",
              "content": "'JAIPUR: A head-on collision between a car and a speeding truck left seven of a family, including three children, dead and two others injured in Rajasthan\\'s Hanumangarh late Saturday. According to police, the truck loaded with cement was overtaking recklessly when it rammed into the car on the Hanumangarh-Sardarshahar highway around 10pm. The family members were returning from a birthday party and the accident occurred barely four kilometres before their home in Naurangdesar. The truck driver fled. The crash was so severe that the front portion of the car was completely mangled, and the cops had to take help from locals to extricate the victims. For Gurbachan Singh Majbi, the bedridden family patriarch who did not attend the party, the accident snatched away his wife and children, leaving only a grandson and granddaughter alive. Both kids are in hospital. \"The relatives of the deceased have filed a case against the truck driver,\" Hanumangarh circle inspector Vedpal Sheoran said on Sunday. Explore Your Financial Landscape with Personalized Credit Insights.'"
            },
            {
              "role": "assistant",
              "content": "output:{\"fatalities\": 7,\"injured\":2,\"time_of_day\":\"Night\",\"reason\":[\"speeding\"],\"victim_gender\":[\"Male\",\"Female\"],\"vehicles\":[\"car\",\"truck\"],\"child_involved\":1,\"names_ages\":[]}/"
            }
          ]
    
    def add_user_input(self, role, content):
        self.user_input = {"role": role, "content": content}
        self.prompt = self.message_history
        self.prompt.append(self.user_input)
        return (self.prompt)

In [296]:
def cleanup_json(filename):
    """
    Read a JSON file, filter out entries with value 'error:llm',
    and update the file with the cleaned data.

    Args:
    - filename (str): The name of the JSON file to clean up.
    """
    if os.path.exists(filename):
        with open(filename, "r") as file:
            data = json.load(file)
    else:
        data = {}

    # Filter out entries with 'error:llm'
    cleaned_data = {key: value for key, value in data.items() if value != 'error:llm'}

    # Write cleaned data back to the JSON file
    with open(filename, "w") as file:
        json.dump(cleaned_data, file)
        
        
# example
# cleanup_json('extraction_progress.json')

In [297]:
m = MessageInitializer(2)
message = m.add_user_input("user","'New Delhi: A man sustained injuries after his SUV was hit by a DTC electric bus who was drunk in west Delhi’s Moti Nagar at 6.30 am on Wednesday. The victim was undergoing treatment at a hospital. Police have not made any arrest in the case yet. The SUV driver was identified as Malkeet Singh, a resident of Rohini. He was returning home from a marriage function in Gurgaon when the accident occurred. Police said after they received a call about the accident, a team was sent to the spot. The cops found the two damaged vehicles there, along with glass pieces scattered on the road. A video of the incident showed the car’s front-end as completely mangled. The bus also sustained some damage. A tree and several metal objects were lying nearby. Recently, four people were hurt after a DTC electric bus collided with a stationary truck on the Naraina flyover. tnn Explore Your Financial Landscape with Personalized Credit Insights.'")

response = client.chat.completions.create(
    response_format = { "type": "json_object" },
    model="gpt-3.5-turbo-0125",
    messages = message,
  temperature=0.5,
  max_tokens=256,
  top_p=0.5,
  frequency_penalty=0,
  presence_penalty=0,
    stop = '/'
)

print(m.user_input)
print("-"*50)
print(response.choices[0].message.content)
print("-"*50)
print("~"*5,"Output","~"*5)
print('type -->',type(response.choices[0].message.content))
print('total tokens -->',str(response.usage.total_tokens))
print('prompt_tokens - ',response.usage.prompt_tokens,'response_tokens - ',response.usage.completion_tokens)

{'role': 'user', 'content': "'New Delhi: A man sustained injuries after his SUV was hit by a DTC electric bus who was drunk in west Delhi’s Moti Nagar at 6.30 am on Wednesday. The victim was undergoing treatment at a hospital. Police have not made any arrest in the case yet. The SUV driver was identified as Malkeet Singh, a resident of Rohini. He was returning home from a marriage function in Gurgaon when the accident occurred. Police said after they received a call about the accident, a team was sent to the spot. The cops found the two damaged vehicles there, along with glass pieces scattered on the road. A video of the incident showed the car’s front-end as completely mangled. The bus also sustained some damage. A tree and several metal objects were lying nearby. Recently, four people were hurt after a DTC electric bus collided with a stationary truck on the Naraina flyover. tnn Explore Your Financial Landscape with Personalized Credit Insights.'"}
--------------------------------------------------
{"fatalities": 0,"injured":1,"time_of_day":"Morning","reason":"drunk driving","victim_gender":["Male"],"vehicles":["SUV","DTC electric bus"],"child_involved":0,"names_ages":[["Malkeet Singh","na"]]}
--------------------------------------------------
~~~~~ Output ~~~~~
type --> <class 'str'>
total tokens --> 1449
prompt_tokens -  1391 response_tokens -  58

# Looping through news articles

In [298]:
from datetime import datetime
import pandas as pd
import numpy as np
from word2number import w2n
import re
from tqdm import tqdm
import ast
import time
import json
import os
from datetime import datetime

## Load data to be extracted

In [299]:
# Load the data to be predicted
df_livedata=pd.read_csv("filtered_news.csv")
df_livedata.reset_index(inplace = True)

In [300]:
df_livedata = df_livedata
df_livedata = df_livedata[['id','content']]
df_livedata['llm_completion_dict']=''
# df_livedata = df_livedata.head(100)

In [301]:
df_livedata.shape

(9978, 3)

## Loop

In [274]:
%%time

print_outout = False

# Check if extraction_progress.json exists
if os.path.exists("extraction_progress.json"):
    with open("extraction_progress.json", "r") as file:
        extraction_progress = json.load(file)
else:
    extraction_progress = {}

# Filter out ids that have already been processed
processed_ids = list(map(int, extraction_progress.keys()))

remaining_ids = df_livedata[~df_livedata['id'].isin(processed_ids)]

count = 1

for index, row in tqdm(remaining_ids.iterrows(), total=remaining_ids.shape[0]):
    
    #protect token explosion
    if len(str(row['content'])) > 2500:
        # print("***********Skipped***********")
        continue
        
    m = MessageInitializer(2)
    message = m.add_user_input("user",row['content'])
    
    try:
        response = client.chat.completions.create(
                    model="gpt-3.5-turbo-0125",
                    messages = message,
                    temperature=0.5,
                    max_tokens=256,
                    top_p=0.5,
                    frequency_penalty=0,
                    presence_penalty=0,
                    stop = '/'
                                                    )
    except:
        continue
        
    if print_outout == True:
        print('\n')
        print(m.user_input)
        print("-"*50)
        print(response.choices[0].message.content)
        print("-"*15)
        print("~"*5,"Output","~"*5)
        print('type -->',type(response.choices[0].message.content))
        print('total tokens -->',str(response.usage.total_tokens))
        print('prompt_tokens - ',response.usage.prompt_tokens,'response_tokens - ',response.usage.completion_tokens)
        print("--x"*15,'\n')
    try:
        extraction_progress[row['id']] = (response.choices[0].message.content)
    except:
        extraction_progress[row['id']] = 'error_openai'
        
    with open("extraction_progress.json", "w") as file:
        json.dump(extraction_progress, file)
    
    count += 1
    if count % 1000 == 0:
        user_input = input("Continue (y/n)? ")
        if user_input.lower() != 'y':
            break

    time.sleep(0.2)
    
# # Get current date and time
# current_datetime = datetime.now()

# # Format date and time to get ymdhm (year-month-day-hour-minute)
# unique_id = current_datetime.strftime("%Y%m%d%H%M")

  4%|█▎                                    | 321/8884 [02:23<2:44:57,  1.16s/it]

Continue (y/n)?  n

  4%|█▎                                    | 321/8884 [02:27<1:05:21,  2.18it/s]

CPU times: user 2.62 s, sys: 339 ms, total: 2.96 s
Wall time: 2min 27s

## Clean up json dump

In [275]:
cleanup_json("extraction_progress.json")

# JSON to CSV

In [276]:
import json
import pandas as pd
import os
import ast  # Add this import statement

# Check if extraction_progress.json exists
if os.path.exists("extraction_progress.json"):
    with open("extraction_progress.json", "r") as file:
        data = json.load(file)

In [277]:
df_json = pd.DataFrame(list(data.items()), columns=['ID', 'JSON_String'])
print(df_json.shape)
df_json.head(2)

(1193, 2)

          ID                                        JSON_String
0  107938160  output:{"fatalities": 3,"injured":1,"time_of_d...
1  107821301  output:{"fatalities": 3,"injured":0,"time_of_d...

In [326]:
import json
import pandas as pd
import os
import ast  # Add this import statement

# Check if extraction_progress.json exists
if os.path.exists("extraction_progress.json"):
    with open("extraction_progress.json", "r") as file:
        data = json.load(file)

    # Create DataFrame with keys and entire JSON string values
    df_json = pd.DataFrame(list(data.items()), columns=['ID', 'JSON_String'])

    # Function to convert JSON string to dictionary
    def json_str_to_dict(json_str):
        try:
            json_str = json_str.replace('output:', '')
            return ast.literal_eval(json_str)
        except:
            return "error:incorrect_format"

    # Convert JSON strings to dictionaries
    df_json['JSON_Dict'] = df_json['JSON_String'].apply(json_str_to_dict)

    # Convert dictionaries to DataFrame
    df = pd.json_normalize(df_json['JSON_Dict'])

    # Concatenate df_json and df
    df_extacted = pd.concat([df_json, df], axis=1)
    
    print('Extraction complete')
else:
    print("extraction_progress.json file does not exist.")

Extraction complete

In [325]:
# Clean up the JSON_String

df_extacted['ID'] = df_extacted['ID'].astype(int)

df_extacted['JSON_String'] = df_extacted['JSON_String'].str.replace(',na)', ',"na")')

df_extacted = df_extacted[['ID','JSON_String','JSON_Dict','fatalities','injured','reason','victim_gender','vehicles','child_involved','names_ages']]
df_extacted.shape

(1193, 10)

In [311]:
merged_df = pd.merge(df_extacted, df_livedata, left_on='ID', right_on='id')
merged_df.drop(columns = 'ID', inplace = True)

merged_df = merged_df[['content','JSON_String', 'JSON_Dict','fatalities', 'injured', 'reason',
       'victim_gender', 'vehicles', 'child_involved', 'names_ages', 'id']]


merged_df.sample(2)

,content,JSON_String,JSON_Dict,fatalities,injured,reason,victim_gender,vehicles,child_involved,names_ages,id
561,Ludhiana: A 4-year-old child was killed while ...,"output:{""fatalities"": 1,""injured"":4,""time_of_d...","{'fatalities': 1, 'injured': 4, 'time_of_day':...",1,4,hit by car,"[Male, Female]","[motorcycle, car]",1.0,"[(Bipanjot Singh, 4), (Uttam Deep Singh, na)]",101231051
191,"SHIMLA: A tourist from Tamil Nadu was injured,...","output:{""fatalities"": 1,""injured"":1,""time_of_d...","{'fatalities': 1, 'injured': 1, 'time_of_day':...",1,1,driver lost control,[Male],[car],0.0,"[(Gopi Nath, 32), (Vetri Duraisamy, 45)]",107424000

# SAVE TO CSV

In [291]:
merged_df.to_csv('data_extracted_llm_openai.csv')

In [302]:
merged_df.shape

(1193, 11)

# Analytics

In [303]:
merged_df.head(3)

,content,JSON_String,JSON_Dict,fatalities,injured,reason,victim_gender,vehicles,child_involved,names_ages,id
0,SULTANPUR : Three people lost their lives on F...,"output:{""fatalities"": 3,""injured"":1,""time_of_d...","{'fatalities': 3, 'injured': 1, 'time_of_day':...",3,1,rash driving,"[Male, Female]",[car],0.0,"[(Chinta Devi, 51), (Ram Chandra Gupta, 55), (...",107938160
1,JAIPUR: Three people died in a car accident in...,"output:{""fatalities"": 3,""injured"":0,""time_of_d...","{'fatalities': 3, 'injured': 0, 'time_of_day':...",3,0,sudden braking,[Male],"[car, truck]",0.0,"[(Ravinder Kumar, na), (Subhash Kumar, na), (A...",107821301
2,RAICHUR: Two women killed and five others were...,"output:{""fatalities"": 2,""injured"":5,""time_of_d...","{'fatalities': 2, 'injured': 5, 'time_of_day':...",2,5,NA,[Female],"[car, bus]",0.0,[],107790964

In [304]:
merged_df = merged_df[merged_df['JSON_Dict'] == 'error:incorrect_format']

In [305]:
merged_df.shape

(187, 11)

In [272]:
import json

text = 'output:{"fatalities": 0,"injured":1,"time_of_day":"NA","reason":"car accident","victim_gender":["Male"],"vehicles":["car"],"child_involved":0,"names_ages":[("Rishabh Pant","na")]}'

# Extracting the JSON part
json_text = text.split(':', 1)[1]

# Converting the JSON string to a dictionary
data_dict = json.loads(json_text)

print(data_dict)

JSONDecodeError: Expecting value: line 1 column 150 (char 149)