In [2]:
import spacy
import pandas as pd
import json
import spacy_transformers
import pickle

# INITIALIZE

In [2]:
import spacy
import pandas as pd
import json
import spacy_transformers
import pickle

In [4]:
# !python -m spacy download en_core_web_lg

In [5]:
def save_data_to_pickle(data, filename):
    """
    Save data to a pickle file.
    
    Parameters:
        data: The data to be saved.
        filename (str): The filename of the pickle file.
    """
    with open(filename, 'wb') as f:
        pickle.dump(data, f)
    print(f"Data saved to {filename} successfully.")

def load_data_from_pickle(filename):
    """
    Load data from a pickle file.
    
    Parameters:
        filename (str): The filename of the pickle file.
        
    Returns:
        The loaded data.
    """
    with open(filename, 'rb') as f:
        data = pickle.load(f)
    print(f"Data loaded from {filename} successfully.")
    return data

# ANNOTATION

## Dividing Data for Team Members Annotation

In [25]:
filtered_dataset_oneliner = pd.read_csv('filtered_dataset_oneliner.csv')

In [26]:
annotation_1000 = filtered_dataset_oneliner.head(1000)

In [33]:
annotation_1000

,id,Link,content,News_date,First_Line
0,107938160,https://timesofindia.indiatimes.com/city/allah...,SULTANPUR : Three people lost their lives on F...,"Updated: Feb 23, 2024, 13:51 IST",Three people lost their lives on Friday in a c...
1,107821301,https://timesofindia.indiatimes.com/city/jaipu...,JAIPUR: Three people died in a car accident in...,"Updated: Feb 19, 2024, 15:48 IST",Three people died in a car accident in Rajasth...
2,107790964,https://timesofindia.indiatimes.com/city/benga...,RAICHUR: Two women killed and five others were...,"Updated: Feb 18, 2024, 11:34 IST",Two women killed and five others were seriousl...
3,107737101,https://timesofindia.indiatimes.com/city/delhi...,New Delhi: Two students were injured after a s...,"Feb 16, 2024, 08:12 IST",Two students were injured after a speeding car...
4,107897709,https://timesofindia.indiatimes.com/city/hyder...,"Hyderabad: A newlywed software engineer , his ...","Feb 22, 2024, 08:22 IST","A newlywed software engineer , his father-in-l..."
...,...,...,...,...,...
995,101500586,https://timesofindia.indiatimes.com/city/gurga...,GURGAON: A 28-year-old pedestrian died at a ho...,"Updated: Jul 5, 2023, 09:34 IST",A 28-year-old pedestrian died at a hospital af...
996,100172814,https://timesofindia.indiatimes.com/city/gurga...,GURGAON: A luxury car caught fire and was almo...,"Updated: May 12, 2023, 12:08 IST",A luxury car caught fire and was almost comple...
997,101616677,https://timesofindia.indiatimes.com/city/amara...,TIRUPATI: Six persons were killed in a ghastly...,"Jul 9, 2023, 19:42 IST",Six persons were killed in a ghastly road acci...
998,93356226,https://timesofindia.indiatimes.com/city/goa/c...,VASCO : A speeding rental car rammed into two ...,"Updated: Aug 5, 2022, 08:06 IST",A speeding rental car rammed into two policeme...
999,92679611,https://timesofindia.indiatimes.com/city/jaipu...,JAIPUR: Four people were killed and three inju...,"Updated: Jul 5, 2022, 17:53 IST",Four people were killed and three injured in a...

In [28]:
annotation_1000.columns

Index(['id', 'Link', 'content', 'News_date', 'First_Line'], dtype='object')

#### Craig's File for Annotation

In [ ]:
craig_annotation3 = annotation_1000['First_Line'].iloc[0:100]

In [ ]:
craig_annotation2 = annotation_1000['First_Line'].iloc[600:700]

In [ ]:
# Define the output file path
output_file = 'craig_annotation3.txt'

# Open the output file in write mode
with open(output_file, 'w') as file:
    # Iterate over each element in the Series
    for sentence in craig_annotation3:
        # Write the sentence to the file
        file.write(sentence + '\n')

print(f"Text file '{output_file}' has been created.")

#### Shirin's File for Annotation

In [ ]:
shirin_annotation3 = annotation_1000['First_Line'].iloc[100:200]

In [ ]:
shirin_annotation2 = annotation_1000['First_Line'].iloc[700:800]

In [ ]:
# Define the output file path
output_file = 'shirin_annotation3.txt'

# Open the output file in write mode
with open(output_file, 'w') as file:
    # Iterate over each element in the Series
    for sentence in shirin_annotation3:
        # Write the sentence to the file
        file.write(sentence + '\n')

print(f"Text file '{output_file}' has been created.")

#### Gourav's File for Annotation

In [ ]:
gourav_annotation3 = annotation_1000['First_Line'].iloc[200:300]

In [ ]:
gourav_annotation2 = annotation_1000['First_Line'].iloc[500:600]

In [ ]:
# Define the output file path
output_file = 'gourav_annotation3.txt'

# Open the output file in write mode
with open(output_file, 'w') as file:
    # Iterate over each element in the Series
    for sentence in gourav_annotation3:
        # Write the sentence to the file
        file.write(sentence + '\n')

print(f"Text file '{output_file}' has been created.")

#### Aakarsh's File for Annotation

In [ ]:
aakarsh_annotation3 = annotation_1000['First_Line'].iloc[300:400]

In [ ]:
aakarsh_annotation2 = annotation_1000['First_Line'].iloc[800:900]

In [ ]:
# Define the output file path
output_file = 'aakarsh_annotation3.txt'

# Open the output file in write mode
with open(output_file, 'w') as file:
    # Iterate over each element in the Series
    for sentence in aakarsh_annotation3:
        # Write the sentence to the file
        file.write(sentence + '\n')

print(f"Text file '{output_file}' has been created.")

#### Pallavi's File for Annotation

In [ ]:
pallavi_annotation3 = annotation_1000['First_Line'].iloc[400:500]

In [ ]:
# Define the output file path
output_file = 'pallavi_annotation3.txt'

# Open the output file in write mode
with open(output_file, 'w') as file:
    # Iterate over each element in the Series
    for sentence in pallavi_annotation3:
        # Write the sentence to the file
        file.write(sentence + '\n')

print(f"Text file '{output_file}' has been created.")

In [ ]:
pallavi_annotation2 = annotation_1000['First_Line'].iloc[900:1000]

## Assigning the Annotated Data to Filtered Dataset

In [35]:
import json

#Specify the file path
file_path = "/Users/aakarshsurendra/Desktop/ROAD_NLP/01_annotations/annotations.json"


#Open the file and load its contents as JSON
with open(file_path, 'r') as file:
    data = json.load(file)
annotations = data.get("annotations", [])

In [ ]:
annotation_1000['annotations'] = annotations

In [39]:
annotation_1000 = annotation_1000[annotation_1000['annotations'] != 'None']

In [58]:
filtered_annotated = annotation_1000.rename(columns={'id': 'id', 'Link': 'link', 'content': 'content', 'News_date': 'news_date', 'First_Line': 'first_line', 'annotations': 'annotations'})

In [59]:
filtered_annotated.to_csv('filtered_annotated.csv',index = False)

# CONVERTING ANNOTATIONS INTO SPACY FORMAT

In [27]:
train_data = filtered_annotated['annotations'][:800]
test_data = filtered_annotated['annotations'][800:]

In [28]:
N = 1
train_data = pd.concat([train_data] * N, ignore_index=True)

In [29]:
entity_names = ["AGE", "VEHICLE TYPE", "REASON", "FATALITIES", "INJURED", "GENDER", "TIME"]

train_data = train_data.tolist()
test_data = test_data.tolist()

if train_data is not None:  # Check if 'train_data' is not None
    train_data = [tuple(i) for i in train_data if i is not None]  # Convert 'train_data' to list of tuples, excluding any None values
    # Further processing if needed
else:
    print("Annotations data is not available or is None ")
    
if test_data is not None:  # Check if 'test_data' is not None
    test_data = [tuple(i) for i in test_data if i is not None]  # Convert 'test_data' to list of tuples, excluding any None values
    # Further processing if needed
else:
    print("Annotations data is not available or is None.")

In [30]:
# Loop through each item in the train_data list
for i in train_data:
    # Check if the 'entities' list in the current item is empty
    if i[1]['entities'] == []:
        # If it's empty, populate it with default tuples (0, 0, name) 
        # where 'name' is iterated over all elements in 'entity_names'
        i[1]['entities'] = [(0, 0, name) for name in entity_names]
    else:
        # If 'entities' list is not empty, convert each element to a tuple
        i[1]['entities'] = [tuple(entity) for entity in i[1]['entities']]

# Loop through each item in the test_data list
for i in test_data:
    # Check if the 'entities' list in the current item is empty
    if i[1]['entities'] == []:
        # If it's empty, populate it with default tuples (0, 0, name) 
        # where 'name' is iterated over all elements in 'entity_names'
        i[1]['entities'] = [(0, 0, name) for name in entity_names]
    else:
        # If 'entities' list is not empty, convert each element to a tuple
        i[1]['entities'] = [tuple(entity) for entity in i[1]['entities']]

In [31]:
print(f"Length of train_data: {len(train_data)}\nLength of test_data: {len(test_data)}")

Length of train_data: 775
Length of test_data: 186

# DOCBIN

### Train Data to Doc bin

In [33]:
from spacy.tokens import DocBin
from tqdm import tqdm
nlp = spacy.blank("en") # load a new spacy model

In [34]:
len(train_data)

775

In [35]:
db = DocBin()

for data in tqdm(train_data, desc="Processing train_data"):
    if data is None:
        print("Encountered a null value in train_data. Skipping...")
        continue
    
    text, annot = data
    doc = nlp.make_doc(text)
    ents = []

    if annot is not None and "entities" in annot:  # Check if annot is not None and contains "entities" key
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                # print("Skipping entity")
                pass
            else:
                ents.append(span)
    doc.ents = ents
    db.add(doc)

Processing train_data: 100%|████████████████| 775/775 [00:00<00:00, 6732.79it/s]

In [36]:
db.to_disk("train.spacy") # save the docbin object

### TEST Data to Doc bin

In [38]:
db_test = DocBin()

for data in test_data:
    if data is None:
        print("Encountered a null value in train_data. Skipping...")
        continue
    
    text, annot = data
    doc = nlp.make_doc(text)
    ents = []

    if annot is not None and "entities" in annot:  # Check if annot is not None and contains "entities" key
        for start, end, label in annot["entities"]:
            span = doc.char_span(start, end, label=label, alignment_mode="contract")
            if span is None:
                # print("Skipping entity")
                pass
            else:
                ents.append(span)
    doc.ents = ents
    db_test.add(doc)

In [39]:
db_test.to_disk("test.spacy") # save the docbin object

# SAVE TO A PICKLE FILE

In [41]:
# Save train_data to a pickle file
save_data_to_pickle(train_data, "train_data.pickle")
save_data_to_pickle(test_data, "test_data.pickle")

Data saved to train_data.pickle successfully.
Data saved to test_data.pickle successfully.