In [1]:
pip install psycopg2-binary

Requirement already satisfied: psycopg2-binary in /opt/anaconda3/lib/python3.11/site-packages (2.9.9)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import psycopg2
import pandas as pd
import ast

In [3]:
# Database connection parameters
conn = psycopg2.connect(
    dbname="AccidentAnalytics",
    user="postgres",
    password="fullerton",
    host="localhost"
)
cur = conn.cursor()

In [4]:
data =pd.read_csv('transformed.csv')

In [5]:
data.describe

<bound method NDFrame.describe of              id                          place  \
0     107938160                      Sultanpur
1     107821301                         Jaipur
2     107790964                        Raichur
3     107737101                      New Delhi
4     107897709                      Hyderabad
...         ...                            ...
6745   70438045                         Rajkot
6746   69529927                      Bengaluru
6747   69168530                Ambala/Parwanoo
6748   69652686                        Madurai
6749   64101878  Padiyan Ka Purwa (Rae Bareli)

                                                   link  \
0     https://timesofindia.indiatimes.com/city/allah...
1     https://timesofindia.indiatimes.com/city/jaipu...
2     https://timesofindia.indiatimes.com/city/benga...
3     https://timesofindia.indiatimes.com/city/delhi...
4     https://timesofindia.indiatimes.com/city/hyder...
...                                                 ...
6745  https://timesofindia.indiatimes.com/city/rajko...
6746  https://timesofindia.indiatimes.com/city/benga...
6747  https://timesofindia.indiatimes.com/city/gurga...
6748  https://timesofindia.indiatimes.com/city/chenn...
6749  https://timesofindia.indiatimes.com/city/gurga...

                                                content news_date  \
0     SULTANPUR : Three people lost their lives on F...  23/02/24
1     JAIPUR: Three people died in a car accident in...  19/02/24
2     RAICHUR: Two women killed and five others were...  18/02/24
3     New Delhi: Two students were injured after a s...  16/02/24
4     Hyderabad: A newlywed software engineer , his ...  22/02/24
...                                                 ...       ...
6745  RAJKOT: Three including two members of Jasdan ...  30/07/19
6746  BENGALURU: Five members of a family, including...  28/05/19
6747  AMBALA/PARWANOO: Three members of a family wer...  04/05/19
6748  MADURAI: Three men, including the manager of a...  04/06/19
6749  PADIYAN KA PURWA (RAE BARELI): The death of th...  10/05/18

                                             first_line   latitude  longitude  \
0     Three people lost their lives on Friday in a c...  26.334588  81.996789
1     Three people died in a car accident in Rajasth...  26.915458  75.818982
2     Two women killed and five others were seriousl...  16.083333  77.166667
3     Two students were injured after a speeding car...  28.613895  77.209006
4     A newlywed software engineer , his father-in-l...  17.360589  78.474061
...                                                 ...        ...        ...
6745  Three including two members of Jasdan Diamond ...  22.305326  70.802838
6746  Five members of a family, including a 14-year-...  12.976794  77.590082
6747  Three members of a family were killed after th...        NaN        NaN
6748  Three men, including the manager of a national...   9.926115  78.114098
6749  The death of the 28-year-old cab driver in a c...        NaN        NaN

              state  week_avg_weather  precipitation_3days  age  \
0     Uttar Pradesh         18.672459             0.200000  NaN
1         Rajasthan         18.577219             0.000000  NaN
2         Karnataka         29.642168             0.000000  NaN
3             Delhi         18.050730             0.000000  NaN
4         Telangana         26.445761             0.000000  NaN
...             ...               ...                  ...  ...
6745        Gujarat         27.055136            73.299995  NaN
6746      Karnataka         25.609011             5.900000   14
6747            NaN               NaN                  NaN  NaN
6748     Tamil Nadu         30.240919            30.000000  NaN
6749            NaN               NaN                  NaN   28

                       vehicle_type     reason  fatalities  injured gender  \
0                               Car        NaN         3.0      NaN    NaN
1                               NaN        NaN         3.0      NaN    NaN
2     ['Car', 'Commercial Vehicle']  Collision         2.0      5.0    NaN
3                               NaN      Speed         NaN      2.0    NaN
4                               NaN        NaN         NaN      NaN    NaN
...                             ...        ...         ...      ...    ...
6745                            Car        NaN         3.0      NaN    NaN
6746  ['Car', 'Commercial Vehicle']        NaN         5.0      NaN   Male
6747                            Car        NaN         3.0      NaN    NaN
6748  ['Car', 'Commercial Vehicle']  Collision         3.0      NaN   Male
6749                            Car        NaN         NaN      NaN    NaN

         time
0         NaN
1         NaN
2     Morning
3         NaN
4       Night
...       ...
6745      NaN
6746    Night
6747    Night
6748      NaN
6749      NaN

[6750 rows x 18 columns]>

In [6]:
def parse_column(data):
    if pd.isna(data):
        return []
    try:
        if isinstance(data, str) and (data.startswith('[') and data.endswith(']')):
            return ast.literal_eval(data)
        else:
            return [data]
    except ValueError:
        return [data]

In [7]:
cur.execute("SET DateStyle = 'ISO, DMY';")
data['news_date'] = data['news_date'].apply(lambda x: None if pd.isna(x) else x)
# Process each row in the DataFrame
for index, row in data.iterrows():
    # Ensure non-None and non-NaN data for the Accidents table
    content = row['content'] if pd.notna(row['content']) else None
    first_line = row['first_line'] if pd.notna(row['first_line']) else None
    reason = row['reason'] if pd.notna(row['reason']) else None
    fatalities = int(row['fatalities']) if pd.notna(row['fatalities']) else None
    injured = int(row['injured']) if pd.notna(row['injured']) else None
    time = row['time'] if pd.notna(row['time']) else None

    # Insert data into Accidents table
    cur.execute(
        """
        INSERT INTO Accidents (accident_id, place, link, content, news_date, first_line, latitude, longitude, state, week_avg_weather, precipitation_3days, reason, fatalities, injured, time)
        VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)
        ON CONFLICT (accident_id) DO NOTHING;
        """,
        (row['id'], row['place'], row['link'], content, row['news_date'], first_line, row['latitude'], row['longitude'], row['state'], row['week_avg_weather'], row['precipitation_3days'], reason, fatalities, injured, time)
    )
    
    # Insert ages associated with the accident
    ages = parse_column(row['age'])
    for age in ages:
        if pd.notna(age):  # Ensure age is not NaN
            cur.execute(
                "INSERT INTO AccidentAges (accident_id, age) VALUES (%s, %s) ON CONFLICT DO NOTHING;",
                (row['id'], float(age))
            )

    # Insert vehicle types associated with the accident
    vehicles = parse_column(row['vehicle_type'])
    for vehicle in vehicles:
        if vehicle:  # Ensure vehicle is not None or empty
            cur.execute(
                "INSERT INTO AccidentVehicles (accident_id, vehicle_type) VALUES (%s, %s) ON CONFLICT DO NOTHING;",
                (row['id'], vehicle)
            )

    # Insert genders associated with the accident
    genders = parse_column(row['gender'])
    for gender in genders:
        if gender:  # Ensure gender is not None or empty
            cur.execute(
                "INSERT INTO AccidentGenders (accident_id, gender) VALUES (%s, %s) ON CONFLICT DO NOTHING;",
                (row['id'], gender)
            )

In [8]:
 # Commit after processing each row to ensure data integrity
conn.commit()

In [9]:
# Close the cursor
cur.close()
# Close the connection
conn.close()